<?xml version="1.0" encoding="UTF-8"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--	The following 10 configuration is default settings,
		If you want to change, please make sure you are 
		familiar with the logic of test process.
  -->
  <ExpectedDirName>ExpectedResult</ExpectedDirName>
  <ExpectedLogName>log.txt</ExpectedLogName>

  <TestDirName>TestResult</TestDirName>
  <TestLogName>log.txt</TestLogName>

  <CompDirName>CompareResult</CompDirName>
  <CompLogName>CompLog.txt</CompLogName>
  <CompCSVName>CompCSV.txt</CompCSVName>

  <CmdFileName>cmd.txt</CmdFileName>

  <ProjectName>TempProject</ProjectName>
  <CaseRootTxt>CaseRoot.txt</CaseRootTxt>
  
  <!-- Manual -->
  <ExceptionDir>NULL</ExceptionDir>

  <!-- Special repo for RGT command line test -->
  <RGTRepository>C:\Users\Public\Repository\Intel_Firmware_Engine_3_0</RGTRepository>

  <!-- Make sure the following configuration is match with your test environment-->
  <TestCaseDir>C:\Users\chenche4\Desktop\RGT Test Case</TestCaseDir>
  <BimxFileDir>C:\Users\chenche4\Desktop\RGT Test Case\BIMFiles</BimxFileDir>
  <ResultDir>C:\Users\chenche4\Desktop\RGT Test Case</ResultDir>
</Root>