<?xml version="1.0" ?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--
		The following 12 configuration is default settings,
		If you want to change, please make sure you are familiar
		with the logic of test process.
  -->
  <ExpectedDirName>ExpectedResult</Expected>
  <ExpectedLogName>log.txt</ExpectedLogName>

  <TestDirName>TestResult</TestDirName>
  <TestLogName>log.txt</TestLogName>

  <CompDirName>CompareResult</CompDirName>
  <CompLogName>CompLog.txt</CompLogName>
  <CompCSVName>CompCSV.txt</CompCSVName>

  <CmdFileName>cmd.txt</Command>

  <ProjectName>TempProject</ProjectName>
  <CaseRootTxt>CaseRoot.txt</CaseRootTxt>

  <WinPDOFileDir>C:\Program Files (x86)\Intel\Intel(R) Firmware Engine\etc</WinPDOFilePath>
  <LinPDOFileDir>/opt/Intel/Intel(R) Firmware Engine/etc</LinPDOFilePath>
  
  <!-- Make sure the following configuration is match with your test environment-->
  <TestCaseDir></TestCaseDir>
  <BimxFileDir></BimxFileDir>
  <ResultDir></ResultDir>
  <ExceptionDir></ExceptionDir>
</Root>